body{
  background-image:url('read.jpeg');
  background-position:center;
  background-size:auto;
}
img {
  height: 500px;
  width: 500px;
}
body {
  color: Darkred;
}
label {
  color:Purple;
}
